/*** Global Layout Set-up ***/
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Play', sans-serif;
  background: linear-gradient(50deg, #2980b9, #2c3e50 75%) fixed no-repeat;}

/*** Link Styles ***/

a {
  text-decoration: none;
  color: #95a5a6;
}

a:hover {
  color: #ecf0f1;
}

/*** Section Styles ***/

.main-nav {
  width: 100%;
  background: linear-gradient(50deg, #2c3e50, #2980b9 98%);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: #ecf0f1;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: #ecf0f1;
}

/*** Home Page ***/

.header-home {
  text-align: center;
  background: url('images/spectream.jpg') center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 300px;
  padding-right: 10px;
  padding-left: 10px;
} 

header {
  line-height: 1.5;
}

header .profile-image {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 0%;
  transition: all .5s;
  opacity: .05;
}

header .profile-image:hover {
  transform: scale(1.2);
  opacity: 1.0;
}

.locationhome{
  text-align: center;
  color: #ecf0f1;
  margin: 10px;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: linear-gradient(50deg, #274046, #E6DADA 98%) fixed no-repeat;
  box-shadow: rgba(0,0,0,0.5) -15px 20px 5px;
  transition: all .5s;
}

ul.yolt {
  padding: 0;
  text-align: center;
}

.yolt li {
  border-radius: 0px;
  display: block;
  background: linear-gradient(50deg, #2c3e50, #2980b9 98%);
  color: #ecf0f1;
  padding: 5px 10px;
  margin: 2px;
}

.yolt li:nth-child(odd) {
  background: linear-gradient(50deg, #2980b9, #2c3e50 98%);
}

.barrellimage {
  font-size: 0;
  text-align: center;
  width: 250px; 
  height: 150px;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}

.bond {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: center;
  box-shadow: rgba(0,0,0,0.5) -15px 20px 5px;
  transition: all .5s;
  color: black;
  font-style: italic;
  background: url('images/jb1.png') center no-repeat;
  opacity: .085;
}

.bond:hover {
  opacity: 1.0;
}

div.transbox p {
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  font-weight: bold;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 0px;
  display: block;
  background: linear-gradient(50deg, #2c3e50, #2980b9 98%);
  color: #ecf0f1;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: linear-gradient(50deg, #2980b9, #2c3e50 98%);
}


/*** 007 Page ***/

.header-007 {
  text-align: center;
  background: url('images/JBspectreDP.jpg') center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 800px;
  padding-right: 10px;
  padding-left: 10px;
}

.location007{
  text-align: center;
  color: black;
  margin: 10px;
}

/***Movie Posters on 007 Page***/

#photos {
  line-height: 0;  
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3px;
  column-gap:           0px;  
}

#photos img {
  width: 100% !important;
  height: auto !important;
}

#masonry img { 
  width: 23%;
  transition: .8s opacity;
}

#masonry:hover img {
  opacity: 0.3;
}

#masonry:hover img:hover {
  opacity: 1;
}

.bondhabits {
  margin-top: 20px;
  margin-right: 30px;
 margin-left: 30px;
  height: auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: linear-gradient(50deg, #274046, #E6DADA 98%) fixed no-repeat;
  box-shadow: rgba(0,0,0,0.5) -15px 20px 10px;
  transition: all .5s;
}

ul.habitlist {
  padding: 0;
  text-align: center;
}

.habitlist li {
  border-radius: 0px;
  display: block;
  background: linear-gradient(50deg, #2c3e50, #2980b9 98%);
  color: #ecf0f1;
  padding: 5px 10px;
  margin: 2px;
}

.habitlist li:nth-child(odd) {
  background: linear-gradient(50deg, #2980b9, #2c3e50 98%);
}

/*** Footer all pages ***/

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/*** Styles for larger screens ***/
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

